.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}

.container{
  margin-top:15px;
}

.domains{
  max-height:410px;
  overflow-y:auto; 
}

.domain-loading .panel{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 0.20s ease-in-out;
   -moz-transition: all 0.20s ease-in-out;
     -o-transition: all 0.20s ease-in-out;
        transition: all 0.20s ease-in-out;
}


.badge.badge-danger{
  background-color: #d9534f;
  font-weight: normal;
}

.media{
  padding-bottom: 0;
}

.media-object.thumbnail{
  width:80px;
  height:80px;
}

.domain-info{
  border-top:1px solid #efefef;
  padding-top:15px;
}

.domain-mails-list .list-group{
  max-height:322px;
  overflow-y:auto;
}